{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="bg-light-gray col-sm">
                    <h2 id="current-item"> Hier verschijnt het woord</h2>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="progress" style="width:100%">
            <div class="progress-bar" id="countDownBar"></div>
        </div>
    </div>

    <br>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="bg-light-gray col-sm">
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th>Al gespeeld</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="history"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <button onclick="countDown()" class="btn btn-lg btn-default" id="start">
        Start
    </button>

    <button class="btn btn-lg btn-default" id="next-item" style="display:none">
        Volgende briefje
    </button>

    <a class="btn btn-lg btn-default" href="{{ url_for('index') }}">Terug</a>

    <script>
        let score = 0

        $('#start').click(function () {
            $("#next-item").show();
            $("#start").hide();
            fetch_next_item(true);
        });

        $('#next-item').click(function () {
            fetch_next_item(true);
        });

        function fetch_next_item(next_item) {
            $.ajax({
                type: "POST",
                url: "/next-item",
                data: JSON.stringify({'next_item': next_item}),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    let current_item = result.current_item;
                    $("#current-item").html(current_item);
                    $("#history").html(result.prev_items);
                    score = result.score
                }
            });
        }

        function countDown() {
            let elem = document.getElementById("countDownBar");
            let width = 0;
            let id = setInterval(frame, 1000);

            function frame() {
                if ((width > 100) || ($("#current-item").text() === 'Geen briefjes meer!')) {
                    clearInterval(id);
                    showScore();
                } else {
                    width += 2.2;
                    {# 100% / 45 s = 2.2 steps#}
                    elem.style.width = width + '%';
                }
            }
        }

        function showScore() {
            alert('Einde beurt: ' + score + ' punten');
            window.location = '/';
        }
    </script>
{%- endblock %}
