{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}

    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="bg-light-gray col-sm">
                    <h2>Vul de hoed</h2>
                    <p>
                        <form action="http://localhost:5000/" method="post">
                    <p>Dier/persoon/ding:</p>
                    <p><input type="text" name="item_name"/></p>
                    <p><input name='add_item' class="btn btn-sm btn-default" type="submit" value="Voeg toe"/></p>
                    </p>
                </div>
                <div class="col-sm">
                    <h2></h2>
                    <h2>Er zitten {{ in_hat_count }} briefjes in de hoed</h2>
                </div>
            </div>
        </div>

        <div class="jumbotron">
            <p>
                <form action="http://localhost:5000/" method="post">
            <p>Ik ben klaar met de hoed vullen. Starten maar!</p>
            <p><input name='start_game' class="btn btn-sm btn-default" type="submit" value="Start spel"/></p>
            </p>
        </div>

        <div class="jumbotron">
            <p>
                <form action="http://localhost:5000/" method="post">
            <p>Alle briefjes worden terug in de hoed gestopt</p>
            <p><input name='fill_hat' class="btn btn-lg btn-default" type="submit" value="Vul hoed"/></p>
            </p>
        </div>

        <div class="jumbotron bg-danger text-white">
            <p>
                <form action="http://localhost:5000/" method="post">
            <p>Nieuwe hoed! Alle items in de hoed worden definitief verwijderd!</p>
            <p><input name='empty_hat' class="btn btn-sm btn-default" type="submit" value="Nieuwe hoed"/></p>
            </p>
        </div>

    </div>
{%- endblock %}
